/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

@font-face {
  font-family: "poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/poppins/Poppins-Italic.ttf") format("truetype");
}
body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  background-color: #FFFFFF;
  margin-top: 4.8rem;
  margin-left: 8.2rem;
  margin-right: 6rem;
}

@media (max-width: 80rem) {
  body {
    margin-left: 4.1rem;
    margin-right: 3rem;
  }
}
@media (max-width: 60rem) {
  body {
    margin-left: 2rem;
    margin-right: 1rem;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 50rem) {
  .header {
    flex-direction: column;
  }
}
.header__button {
  text-decoration: none;
  font-weight: 500;
  background-color: #58A9A5;
  color: #FFFFFF;
  padding: 1.2rem 4.5rem;
  border-radius: 0.8rem;
  font-size: 1.2rem;
}
@media (max-width: 80rem) {
  .header__button {
    padding: 1.2rem 3.5rem;
  }
}
@media (max-width: 60rem) {
  .header__button {
    padding: 1.2rem 2.5rem;
  }
}

.logo {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 0.5rem;
}
.logo__img {
  width: auto;
  height: auto;
  max-height: 2.7rem;
}
.logo__text {
  font-size: 1.8rem;
  font-weight: 800;
  color: #58A9A5;
}

.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 4.4rem;
  margin-left: 4.4rem;
  align-items: center;
  list-style-type: none;
}
@media (max-width: 80rem) {
  .nav__list {
    margin-left: 2.2rem;
    gap: 2.2rem;
  }
}
@media (max-width: 50rem) {
  .nav__list {
    margin-left: 0;
    margin-top: 1.5rem;
    flex-direction: column;
  }
}
.nav__link {
  font-size: 1.25rem;
  color: #1C2323;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.lets-go {
  margin-top: 8.5rem;
  display: flex;
  gap: 4.5rem;
}
@media (max-width: 60rem) {
  .lets-go {
    flex-direction: column;
  }
}
.lets-go__content {
  flex: 1;
  max-width: 45%;
}
@media (max-width: 60rem) {
  .lets-go__content {
    max-width: 100%;
  }
}

.image-section {
  flex: 1;
  align-self: center;
  margin-top: -3rem;
}
@media (max-width: 60rem) {
  .image-section {
    margin-top: 1rem;
    max-width: 60%;
  }
}
.image-section__img {
  width: 105%;
  height: auto;
}

.primary__title {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.5;
  color: #1C2323;
}
.primary__description {
  margin-top: 2.25rem;
  margin-bottom: 4rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #404242;
}
.primary__button {
  text-decoration: none;
  font-weight: 700;
  background-color: #58A9A5;
  color: #FFFFFF;
  padding: 1.2rem 4.5rem;
  margin-left: 0.25rem;
  border-radius: 0.8rem 0.8rem 0.8rem 0;
  font-size: 1.2rem;
  border: none;
}

.how-it-works {
  margin-top: 6rem;
  text-align: center;
}
.how-it-works__description-div {
  margin-top: -1rem;
}
.how-it-works__content {
  margin-top: -0.5rem;
  display: flex;
}
.how-it-works__video-image {
  width: 66%;
  height: auto;
}
.how-it-works__play-video-button {
  position: absolute;
  width: 5rem;
  height: 5rem;
  left: calc(66% - 3.5rem);
  align-self: flex-end;
  margin-bottom: 2.5rem;
  box-shadow: 0 0 0 0.8rem rgba(255, 255, 255, 0.3);
  border-radius: 90%;
}
.how-it-works__play-video-button-image {
  width: 100%;
  height: auto;
}
.how-it-works__text-content {
  text-align: left;
  border-radius: 0 0.6rem 0.6rem 0;
  background-color: #CCF0E6;
}
.how-it-works__text {
  margin-top: 3.5rem;
  margin-left: 5.5rem;
  margin-right: 7rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #486958;
}
@media (max-width: 80rem) {
  .how-it-works__text {
    margin-left: 2.5rem;
    margin-right: 3rem;
  }
}
.how-it-works__link {
  text-decoration: none;
  margin-left: 5.5rem;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.5;
  color: #486958;
  letter-spacing: 0.2rem;
}
@media (max-width: 60rem) {
  .how-it-works__link {
    margin-left: 2.5rem;
  }
}

.mission {
  margin-top: 7.5rem;
  text-align: center;
}
.mission__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 60rem) {
  .mission__content {
    flex-direction: column;
  }
}
.mission__image {
  flex: 1;
  max-width: 40%;
  overflow: hidden;
  height: auto;
}
@media (max-width: 60rem) {
  .mission__image {
    max-width: 60%;
  }
}
.mission__text {
  flex: 1;
  text-align: left;
  align-self: flex-start;
}

.medium__title {
  margin-left: 5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #1C2323;
}
.medium__description {
  margin-left: 5rem;
  margin-right: 7.5rem;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #404242;
}

.projects {
  margin-top: 5.75rem;
}
.projects__header {
  text-align: center;
}
.projects__list {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  gap: 5rem;
}
@media (max-width: 55rem) {
  .projects__list {
    flex-direction: column;
  }
}

.divider {
  margin-top: -3rem;
}
.divider__image {
  width: 8%;
  height: auto;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
@media (max-width: 55rem) {
  .project {
    text-align: center;
  }
}
.project__image {
  width: 95%;
  height: auto;
}
@media (max-width: 55rem) {
  .project__image {
    width: 55%;
    align-self: center;
  }
}
.project__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #58A9A5;
}
.project__description {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #486958;
}

.testimonial {
  text-align: center;
  margin-top: 12rem;
}
.testimonial__logos {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
@media (max-width: 55rem) {
  .testimonial__logos {
    flex-direction: column;
  }
}
.testimonial__logo {
  max-width: 15%;
  height: auto;
}
@media (max-width: 55rem) {
  .testimonial__logo {
    align-self: center;
    max-width: 30%;
  }
}
.testimonial__content {
  margin-top: 3rem;
  display: flex;
}
.testimonial__image {
  width: 38%;
  height: auto;
}
.testimonial__details {
  background-color: #CCF0E6;
}
.testimonial__stats {
  margin-left: 7rem;
  margin-top: 2.75rem;
  display: flex;
  gap: 6rem;
}
@media (max-width: 80rem) {
  .testimonial__stats {
    flex-direction: column;
    gap: 1rem;
    margin-left: 3rem;
  }
}
.testimonial__stat {
  color: #58A9A5;
}
.testimonial__number {
  text-align: left;
  line-height: 1.5;
  font-weight: 800;
  font-size: 3.5rem;
}
.testimonial__description {
  margin-top: -0.75rem;
  text-align: left;
  line-height: 1.5;
  font-weight: 500;
  font-size: 1.5rem;
}
.testimonial__quote {
  text-align: left;
  margin-left: 7rem;
}
@media (max-width: 80rem) {
  .testimonial__quote {
    margin-left: 3rem;
  }
}
.testimonial__quote-text-image {
  max-width: 5%;
  height: auto;
  position: absolute;
  left: calc(38% + 8rem);
  margin-top: -3rem;
  z-index: 0;
}
@media (max-width: 80rem) {
  .testimonial__quote-text-image {
    margin-top: -1.5rem;
    left: calc(38% + 4rem);
  }
}
.testimonial__quote-text {
  position: relative;
  color: #486958;
  margin-top: 6.25rem;
  margin-right: 3rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  z-index: 1;
}
.testimonial__author {
  text-align: left;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 500;
  margin-top: 2rem;
  line-height: 1.5;
  color: #58A9A5;
}

.footer {
  margin-top: 12.5rem;
  margin-bottom: 12rem;
  display: flex;
  gap: 3rem;
}
.footer__title {
  width: 40%;
}
.footer__description {
  color: #486958;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  font-weight: 500;
  line-height: 1.5;
}
.footer__divider {
  margin-top: 1.5rem;
}
.footer__divider-image {
  width: 30%;
  height: auto;
}

.contact__form {
  border: 0.01rem solid #486958;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact__form-label {
  color: #486958;
  font-size: 1.25rem;
  margin-top: 2.75rem;
  margin-left: 2.75rem;
  font-weight: 500;
  line-height: 1.5;
}
@media (max-width: 60rem) {
  .contact__form-label {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
  }
}
.contact__form-input {
  margin-left: 2.75rem;
  margin-right: 2.75rem;
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 0.05rem solid #000000;
}
@media (max-width: 60rem) {
  .contact__form-input {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
  }
}
.contact__form-input:focus {
  outline: none;
  border: none;
  border-bottom: 0.05rem solid #486958;
}
.contact__form-input::-moz-placeholder {
  color: transparent;
}
.contact__form-input::placeholder {
  color: transparent;
}
.contact__button {
  margin: 2.75rem;
  align-self: flex-end;
}/*# sourceMappingURL=index.css.map */