@import 'reset';
@import 'config';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;


  @media (max-width: 50rem) {
    flex-direction: column;
  }

  &__left {}

  &__nav {}

  &__right {}

  &__button {
    text-decoration: none;
    font-weight: 500;
    background-color: $color-accent-light;
    color: $color-white;
    padding: 1.2rem 4.5rem;
    border-radius: 0.8rem;
    font-size: 1.2rem;

    @media (max-width: 80rem) {
      padding: 1.2rem 3.5rem;
    }

    @media (max-width: 60rem) {
      padding: 1.2rem 2.5rem;
    }
  }
}

.logo {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 0.5rem;

  &__img {
    width: auto;
    height: auto;
    max-height: 2.7rem;
  }

  &__text {
    font-size: 1.8rem;
    font-weight: 800;
    color: $color-accent-light;
  }
}

.nav {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 4.4rem;
    margin-left: 4.4rem;
    align-items: center;
    list-style-type: none;

    @media (max-width: 80rem) {
      margin-left: 2.2rem;
      gap: 2.2rem;
    }

    @media (max-width: 50rem) {
      margin-left: 0;
      margin-top: 1.5rem;
      flex-direction: column;
    }
  }

  &__item {}

  &__link {
    font-size: 1.25rem;
    color: $color-text-dark;
    text-decoration: none;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.lets-go {
  margin-top: 8.5rem;
  display: flex;
  gap: 4.5rem;


  @media (max-width: 60rem) {
    flex-direction: column;
  }

  &__content {
    flex: 1;
    max-width: 45%;

    @media (max-width: 60rem) {
      max-width: 100%;
    }
  }
}

.image-section {
  flex: 1;
  align-self: center;
  margin-top: -3rem;

  @media (max-width: 60rem) {
    margin-top: 1rem;
    max-width: 60%;
  }

  &__img {
    width: 105%;
    height: auto;
  }
}


.primary {

  &__title {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.5;
    color: $color-text-dark;
  }

  &__description {
    margin-top: 2.25rem;
    margin-bottom: 4rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: $color-text-medium;
  }

  &__button {
    text-decoration: none;
    font-weight: 700;
    background-color: $color-accent-light;
    color: $color-white;
    padding: 1.2rem 4.5rem;
    margin-left: 0.25rem;
    border-radius: 0.8rem 0.8rem 0.8rem 0;
    font-size: 1.2rem;
    border: none;
  }
}

.how-it-works {
  margin-top: 6rem;
  text-align: center;

  &__description-div {
    margin-top: -1rem;
  }

  &__content {
    margin-top: -0.5rem;
    display: flex;
  }

  &__video-image {
    width: 66%;
    height: auto;
  }


  &__play-video-button {
    position: absolute;
    width: 5rem;
    height: 5rem;
    left: calc(66% - 3.5rem);
    align-self: flex-end;
    margin-bottom: 2.5rem;
    box-shadow: 0 0 0 0.8rem rgba(255, 255, 255, 0.3);
    border-radius: 90%;
  }

  &__play-video-button-image {
    width: 100%;
    height: auto;
  }

  &__text-content {
    text-align: left;
    border-radius: 0 0.6rem 0.6rem 0;
    background-color: $color-background-light;
  }

  &__text {
    margin-top: 3.5rem;
    margin-left: 5.5rem;
    margin-right: 7rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: $color-text-secondary-dark;

    @media (max-width: 80rem) {
      margin-left: 2.5rem;
      margin-right: 3rem;
    }
  }

  &__link {
    text-decoration: none;
    margin-left: 5.5rem;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.5;
    color: $color-text-secondary-dark;
    letter-spacing: 0.2rem;

    @media (max-width: 60rem) {
      margin-left: 2.5rem;
    }
  }

}

.mission {
  margin-top: 7.5rem;
  text-align: center;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;


    @media (max-width: 60rem) {
      flex-direction: column;
    }
  }

  &__image {
    flex: 1;
    max-width: 40%;
    overflow: hidden;
    height: auto;

    @media (max-width: 60rem) {
      max-width: 60%;
    }
  }

  &__text {
    flex: 1;
    text-align: left;
    align-self: flex-start;
  }
}

.medium {
  &__title {
    margin-left: 5rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    color: $color-text-dark;
  }

  &__description {
    margin-left: 5rem;
    margin-right: 7.5rem;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    color: $color-text-medium;
  }
}

.projects {
  margin-top: 5.75rem;

  &__header {
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    gap: 5rem;

    @media (max-width: 55rem) {
      flex-direction: column;
    }
  }
}

.divider {
  margin-top: -3rem;

  &__image {
    width: 8%;
    height: auto;
  }
}

.project {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  @media (max-width: 55rem) {
    text-align: center;
  }

  &__image {
    width: 95%;
    height: auto;

    @media (max-width: 55rem) {
      width: 55%;
      align-self: center;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    color: $color-accent-light;
  }

  &__description {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: $color-text-secondary-dark;
  }
}

.testimonial {
  text-align: center;
  margin-top: 12rem;

  &__logos {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 5rem;

    @media (max-width: 55rem) {
      flex-direction: column;
    }
  }

  &__logo {
    max-width: 15%;
    height: auto;

    @media (max-width: 55rem) {
      align-self: center;
      max-width: 30%;
    }
  }

  &__content {
    margin-top: 3rem;
    display: flex;
  }

  &__image {
    width: 38%;
    height: auto;
  }

  &__details {
    background-color: $color-background-light;
  }

  &__stats {
    margin-left: 7rem;
    margin-top: 2.75rem;
    display: flex;
    gap: 6rem;

    @media (max-width: 80rem) {
      flex-direction: column;
      gap: 1rem;
      margin-left: 3rem;
    }
  }

  &__stat {
    color: $color-accent-light;
  }

  &__number {
    text-align: left;
    line-height: 1.5;
    font-weight: 800;
    font-size: 3.5rem;
  }

  &__description {
    margin-top: -0.75rem;
    text-align: left;
    line-height: 1.5;
    font-weight: 500;
    font-size: 1.5rem;
  }

  &__quote {
    text-align: left;
    margin-left: 7rem;

    @media (max-width: 80rem) {
      margin-left: 3rem;
    }
  }

  &__quote-text-image {
    max-width: 5%;
    height: auto;
    position: absolute;
    left: calc(38% + 8rem);
    margin-top: -3rem;
    z-index: 0;

    @media (max-width: 80rem) {
      margin-top: -1.5rem;
      left: calc(38% + 4rem);
    }
  }

  &__quote-text {
    position: relative;
    color: $color-text-secondary-dark;
    margin-top: 6.25rem;
    margin-right: 3rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
    z-index: 1;
  }

  &__author {
    text-align: left;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 500;
    margin-top: 2rem;
    line-height: 1.5;
    color: $color-accent-light;
  }
}

.footer {
  margin-top: 12.5rem;
  margin-bottom: 12rem;
  display: flex;
  gap: 3rem;

  &__title {
    width: 40%;
  }

  &__description {
    color: $color-text-secondary-dark;
    font-size: 1.25rem;
    margin-top: 0.5rem;
    font-weight: 500;
    line-height: 1.5;
  }

  &__divider {
    margin-top: 1.5rem;
  }

  &__divider-image {
    width: 30%;
    height: auto;
  }
}

.contact {

  &__form {
    border: 0.01rem solid $color-text-light;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__form-label {
    color: $color-text-light;
    font-size: 1.25rem;
    margin-top: 2.75rem;
    margin-left: 2.75rem;
    font-weight: 500;
    line-height: 1.5;

    @media (max-width: 60rem) {
      margin-top: 1.5rem;
      margin-left: 1.5rem;
    }
  }

  &__form-input {
    margin-left: 2.75rem;
    margin-right: 2.75rem;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 0.05rem solid #000000;

    @media (max-width: 60rem) {
      margin-top: 1.5rem;
      margin-left: 1.5rem;
    }
  }

  &__form-input:focus {
    outline: none;
    border: none;
    border-bottom: 0.05rem solid $color-text-light;
  }

  &__form-input::placeholder {
    color: transparent;
  }

  &__button {
    margin: 2.75rem;
    align-self: flex-end;
  }

}
